/* Selector de etiquetas */

body {
    background-color: rgb(58, 3, 3);
}

p { 
    display: inline;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255); 
    
}

.escena {
    display: flex;
    justify-content: center;
    height: 300px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Selector de clase */

.text-center {
    text-align: center;
}

.inline {
    display: inline;
}

#navegacion li {
    display:inline;
}

#navegacion {
    display:inline;
}